<% if signed_in? %>
  <p id="notice"><%= notice %></p>

  <h1>Questions</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.title %></td>
          <td><%= question.description %></td>
          <td style="white-space: nowrap;"><%= question.user.first_name %></td>
          <td><%= link_to image_tag("https://image.flaticon.com/icons/svg/159/159604.svg", width: 30), question%></td>
          <td><%= link_to image_tag("https://image.flaticon.com/icons/svg/53/53694.svg", width: 30,), edit_question_path(question) %></td>
          <td><%= link_to image_tag("https://image.flaticon.com/icons/png/128/121/121113.png", width: 30), question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class="text-center">
    <a href="/questions/new"><button class="btn btn-primary">New Question</button></a>
  </div>
<% else %>
  <body>
    <script language="javascript">
          window.location.href = "/"
      </script>
  </body>
<% end %>