<div class="container">
  <%= form_with(model: quiz, local: false) do |f| %>
    <% if quiz.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

        <ul>
        <% quiz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter name of quiz", class: 'form-control' , type: 'text' %>
    </div>

    <div class="field">
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class='question-field', style="display: inline;">
      <%= f.fields_for :problems do |builder| %>
        <%= render 'problem_field', f: builder %>
      <% end %>
    <%= link_to_add_fields("Add Question", f, :problems) %>
    </div>
    <div class="text-center">
      <%= f.submit class: 'btn btn-light' %>
    </div>
  <% end %>
</div>