<div class="fields">
<%= f.label :answer %>
<%= f.text_field :answer, placeholder: 'Enter option', class: 'form-control', type: 'text' %><br/>
  <%= f.check_box :correct %>
  <%= f.label :correct, "Correct Answer" %>
  <%= f.hidden_field :_destroy %>
      <%= link_to "Remove Answer", '#',
          onClick: "removeField(this); return false;", class: 'btn btn-success btn-sm' %>
          </div><br/>