<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <% @problems.each_with_index do |p,index| %>
  	<strong>Questions:</strong>
	  <%= index+1 %><%= p.question %>
	  <strong>Answers:</strong>
	  <%= index+1 %><%= p.solutions %>
  <% end %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %> |
<%= link_to 'Add Questions', new_quiz_problem_path(@quiz) %>

