<div class="container fill">
<br/>
<div class="row">
  <h1 class="col">Notes</h1>
  <div class="ol-md-auto align-middle">
  <% if !current_user.student? %></div>
  <% end %>
  <div class="col col-lg-1"></div>
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Created by</th>
      <th scope="col">Tags</th>
      <th scope="col"></th>
    </tr>
  </thead>
  	<tbody>
			<% for i in @notes do%>
		    <tr>
		    	<td><a href="/notes/<%= i.id %>"><%= i.name %></a></td>
		    	<td><%= i.user.first_name %> <%= i.user.last_name %></td>
          <td><%= raw(i.tag_list.map { |t| link_to t, tag_path(t), class: 'btn btn-small btn-secondary' }.join(' ')) %></td>  
          <td class="">
            <%= link_to image_tag("https://image.flaticon.com/icons/svg/159/159604.svg", width: 25),note_path(i.id) %> | 
            <%= link_to image_tag("https://image.flaticon.com/icons/svg/684/684872.svg", width: 25), note_path(i.id) %>
          </td>
		    </tr>
			<%end%>
  	</tbody>
</table>
</div>
<!-- 		<br>
<br>
<div class="text-center">

	<%= link_to "New Note", new_note_path, class: 'btn btn-primary' %>
</div>
 -->

<br/>
<br/>
</div>