<%= @library = Library.new %>
<%=form_for user_libraries_path(@user, @library) do |form| %>


	<div class="field">
	    <%= form.label :libraries %>
	    <%= form.file_field :libraries, multiple: true %>
  	</div>

	<div class="submit-field">
	  <%= form.submit %>
	</div>

	<% @user.libraries.each do |x| %>
	<%= x%><br>
	<%end %>


 <% end %>