<div class="container">
  <div class="text-center">
    <div id="clearance" class="password-reset">
      <h2><%= t(".title") %></h2>

      <p><%= t(".description") %></p>

      <%= form_for :password, url: passwords_path do |form| %>
        <div class="text-field">
          <label for="exampleInputEmail1">Email</label>
          <%= form.text_field :email, class: "form-control", id: "formGroupExampleInput", type: 'email', placeholder: "Enter email here" %>
        </div>

        <div class="submit-field" style="margin-top: 5px;">
          <%= form.submit "Submit",class: "btn btn-primary" %>
          <%= link_to 'Back', questions_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>