<%= form_for(@card, url: {action: "create"}) do |form|%>

	<div class = "field">
		<%= form.label :question%>
		<%= form.text_field :question %>
	</div>

	<div class = "field">
		<%= form.label :answer %>
		<%= form.text_field :answer%>
	</div>

	<div class = "actions">
		<%= form.submit "Create" %>
	</div>

<%end%>