<div class="container">
<br/>
<div class="row">
	<h1 class="col">Flash Cards</h1>
	<% if !current_user.student? %>
  <div class="ol-md-auto align-middle"></div>
	<% end %>
	<div class="col col-lg-1"></div>
</div>
	<hr/>
	<div class="row">
		<% for i in @flashcards do %>
			<div class="col-sm">
			<a href="/flash_cards/<%= i.id %>" class="custom-card">
			<div class="card shadow-sm" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"><%= i.name %></h5>
			    <h6 class="card-subtitle mb-2 text-muted">By <%= i.user.first_name %> <%= i.user.last_name %></h6>
			    <p class="card-text"><%= raw(i.tag_list.map { |t| link_to t, tag_path(t), class: 'btn btn-small btn-secondary' }.join(' ')) %></p>
			  </div>
			</div></a>
			<br/>
			</div>
		<% end %>
	</div>
<!-- 
<hr>

<div class="text-center">
		<a href="/flash_cards/new" class="btn btn-primary">Create New Flash Card</a>
</div> -->

<br/>
<br/>
</div>
