<div class="container">
	<br>
	<div class="row">
		<h1 class="col"><%= @flashcard.name %></h1>
		<div class="col col-lg-1"></div>
	</div>
	<hr/>
	<div class="row">
		<% x = Card.where(flash_card_id: @flashcard.id) %>
		<% for i in x do %>
			<div class="col-sm">
				<div class="image-flip" >
					<div class="mainflip" ontouchstart="this.classList.toggle('hover');">
						<div class="frontside">
							<div class="card" style="width:20rem;">
								<div class="card-header"><%= @flashcard.name%></div>
								<div class="card-body">
									<h4 class="card-title"><%= i.question%></h4>
									<p class="card-text">Place your mouse over the card to see the answer</p>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card" style="width:20rem;">
								<div class="card-header">
									<%= @flashcard.name%>
								</div>
								<div class="card-body">
									<h4 class="card-title">Answer:</h4>
									<p class="card-text"><%= i.answer %></p>
									<% if @flashcard.user_id == current_user.id %>
										<%=link_to "Delete", flash_card_card_path(@flashcard.id,i.id), method: :delete, class: 'btn btn-primary' %>
									<% else %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>

<div class="container">
	<%= link_to "Delete FlashCard", flash_card_path, :method => :delete, class: 'btn btn-light shadow-sm' %>
	<%= link_to "New Card", "/flash_cards/#{params[:id]}/cards/new", class: 'btn btn-light shadow-sm' %>
	<%= link_to "All flashcards", flash_cards_path, class: 'btn btn-light shadow-sm' %>
</div>