<%= form_with(model: solution, url: problem_solutions_path(params[:problem_id]), method: :post) do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.hidden_field :problem_id, value: params[:problem_id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
