<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @solution.answer %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
