<% if signed_in? %>
	<% if current_user.first_name? %>
		<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <!-- <div class="navbar-header"> -->
		    
		    <a class="navbar-brand text-danger font-weight-bold" href="/">AskBoss</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  <!-- </div> -->

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item active">
		      <%= link_to "Home", root_path, class: "nav-link" %></li>
		      <!-- search bar -->
		      <%= form_tag('/search', method: :get, class: 'form-inline' ) do %>
		      <%= text_field_tag :search, params[:search], list: "search-result-list", placeholder: 'Search', class: 'form-control mr-sm-2', id: "city-search" %>
		      <datalist id="search-result-list"></datalist>
		      <%= button_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0', type: 'submit',value: 'Search') %>
		      <% end %>
		      
		    </ul>


		    <ul class="nav navbar-nav navbar-right">
		      <li class="nav-item dropdown">

		      	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question</a>
					<div class="dropdown-menu dropdown-menu-right" 	aria-labelledby="navbarDropdownMenuLink">
		          	<a class="dropdown-item" href="/questions/new">Add Question</a>

		          	<a class="dropdown-item" href="/questions">Questions</a>

		      </li>
		      
		      <li class="nav-item dropdown">

		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <%= current_user.first_name %> <%= current_user.last_name %>
		        </a>
		        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/listings/new">Host!</a>
		          <%= link_to "Booking History", root_path, class: "dropdown-item" %>
		          <%= link_to "Edit Account", edit_user_path(current_user.id), class: "dropdown-item" %>
		          <div class="dropdown-divider"></div>
		          <%= link_to "Sign Out", sign_out_path, method: :delete, class: "dropdown-item" %>
		        </div>
		      </li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	<% elsif current_user.moderator? || current_user.superadmin? %>
		<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <!-- <div class="navbar-header"> -->
		    
		    <a class="navbar-brand text-danger font-weight-bold" href="/">AskBoss</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  <!-- </div> -->

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item active">
		      <%= link_to "Home", root_path, class: "nav-link" %></li>
		      <li class="nav-item"><a class="nav-link" href="/listings">Listing</a></li>
		      
		      <!-- search bar -->
		      <%= form_tag('/search', method: :get, class: 'form-inline' ) do %>
		      <%= text_field_tag :search, params[:search], list: "search-result-list", placeholder: 'Search', class: 'form-control mr-sm-2', id: "city-search" %>
		      <datalist id="search-result-list"></datalist>
		      <%= button_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0', type: 'submit',value: 'Search') %>
		      <% end %>
		      
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		      <li class="nav-item"><a class="nav-link btn-danger" href="#" class="btn btn-danger add_question text-white" data-toggle="modal" data-target="#exampleModalCenter">Add Question</a></li>
		      <li class="nav-item dropdown">

		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <%= image_tag(current_user.avatar.thumb.url, class: 'profile-thumb rounded-circle') if current_user.avatar? %> 
		          <%= current_user.first_name %> <%= current_user.last_name %>
		        </a>
		        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/listings/new">Host!</a>
		          <%= link_to "Booking History", reservations_path, class: "dropdown-item" %>
		          <%= link_to "Edit Account", edit_user_path(current_user.id), class: "dropdown-item" %>
		          <%= link_to "Profile", show_user_path(@user.id), class: "dropdown-item" %>
		          <div class="dropdown-divider"></div>
		          <%= link_to "Sign Out", sign_out_path, method: :delete, class: "dropdown-item" %>
		        </div>
		      </li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	<% end %>

<% else %>
	<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <!-- <div class="navbar-header"> -->
		    
		    <a class="navbar-brand text-danger font-weight-bold" href="/">AskBoss</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  <!-- </div> -->

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item active">
		      <%= link_to "Home", root_path, class: "nav-link" %></li>
		      <%= form_tag('/search', local: true, method: :get, class: 'form-inline' ) do %>
		      <%= text_field_tag(:q, nil, data: { behavior: 'autocomplete' }, placeholder: 'Search', class: 'form-co
		      ntrol mr-sm-2') %>
		      <%= button_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0', type: 'submit') %>
		      <% end %>
		      
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		      <li class="nav-item"><%= link_to "Sign Up", sign_up_path, class: "nav-link btn btn-danger" %></li>
		      <li class="nav-item"><%= link_to "Sign In", sign_in_path, class: "nav-link" %></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
<% end %>