<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <%= render partial: '/layouts/navbar' %>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>

  <footer>
    <div class="container align-middle">
      <p class="m-0 text-center text-white align-middle">Copyright &copy; askBoss 2018</p>
    </div>
  </footer>
</body>
</html>
